{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block meta %}
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card ">
            <div class="card-body d-flex flex-column align-items-center">
                <h1 class="card-title mb-4 text-center">Редактирование мероприятия: еще немного, и оно готово!</h1>
                <form method="post" enctype="multipart/form-data" class="w-100">
                    {% csrf_token %}
                    <div class="mb-4 mt-4">
                        <input type="text" name="title" id="id_title" class="form-control"
                               value="{{ form.title.value|default:event.title }}" required>
                        {{ form.title.errors }}
                    </div>
                    <div class="mb-4">
                        <textarea name="description" id="id_description" class="form-control" rows="4"
                                  required>{{ form.description.value|default:event.description }}</textarea>
                        {{ form.description.errors }}
                    </div>
                    <div class="mb-4">
                        <input type="text" name="location" id="id_location" class="form-control"
                               value="{{ form.location.value|default:event.location }}" required>
                        {{ form.location.errors }}
                    </div>
                    <div class="mb-4">
                        <input type="date" name="deadline_date" id="id_deadline_date" class="form-control"
                               value="{{ form.deadline_date.value|date:'Y-m-d'|default:'' }}">
                        {% if form.deadline_date.errors %}
                            <div class="alert alert-danger">
                                {{ form.deadline_date.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        <input type="time" name="event_time" id="id_event_time" class="form-control"
                               value="{{ form.event_time.value|default:'' }}">
                        {% if form.event_time.errors %}
                            <div class="alert alert-danger">
                                {{ form.event_time.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Выберите иконку для вашего мероприятия!</label>
                        <div class="d-flex flex-wrap justify-content-center">
                            {% for category in form.category.field.queryset %}
                                <div class="m-2 category-icon-container">
                                    <input type="radio" id="category_{{ category.id }}" name="category"
                                           value="{{ category.id }}" class="d-none"
                                           {% if event.category.id == category.id %}checked{% endif %}>
                                    <label for="category_{{ category.id }}" class="category-icon-label">
                                        <img src="{{ category.icon.url }}" alt="{{ category.name }}"
                                             class="category-icon">
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        {{ form.category.errors }}
                    </div>

                    <div class="d-flex flex-column align-items-center">
                        <button type="submit" class="btn btn-secondary mb-2">Сохранить</button>
                        <a href="{% url 'mainapp:event_list' %}" class="underline-animation">К списку мероприятий</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        const categoryIconLabels = document.querySelectorAll('.category-icon-label');
        categoryIconLabels.forEach(label => {
            label.addEventListener('click', () => {
                const radioButton = label.previousElementSibling;
                radioButton.checked = true;
            });
        });
    </script>
{% endblock %}